@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;

  body {
    background-image: linear-gradient(
      to right top,
      #5ec278,
      #53be7b,
      #48ba7e,
      #3cb581,
      #30b183,
      #26ad85,
      #1ba987,
      #0fa589,
      #04a18a,
      #009c8b,
      #00988b,
      #00938b
    );
    background-attachment: fixed;
    #root {
      width: 500px;
      margin: auto;
      margin-top: 50px;
      padding-top: 20px;
      text-align: center;
      border: 5px double #00938b;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      color: white;
      background-color: rgb(26, 25, 25);
      position: relative;
    }

    .InputAdd {
      padding-bottom: 20px;
      input {
        border: 3px solid #00938b;
        background-color: rgb(26, 25, 25);
        color: #26ad85;
        padding: 3px;

        &:focus {
          outline: none;
        }
      }
      .add {
        border: 3px solid #00938b;
        background-color: #00938b;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 3px;
        cursor: pointer;
        transition: 0.3s;
      }
    }

    .list {
      ul {
        padding-bottom: 40px;
        li {
          list-style: none;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: #5ec2bf;
          border-top: 3px solid #00938b;
          color: rgb(27, 24, 24);

          &:nth-child(2n + 1) {
            background-color: #5ec278;
          }

          input {
            cursor: pointer;
            position: absolute;
            left: 50px;
          }
        }
      }
      .clear {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        background-color: #00988b;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #36dad1;
        }
      }
    }
  }
}
